
.container {
    width: 100%;
}

.nav-bar{
    background-color: #31bdb6;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    width: 100%;

}

.nav-bar .logo img{
    width: 150px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.nav-bar .links_paginas ul{

    display: flex;
    text-align: center;
    list-style-type: none;
}

.nav-bar ul li a{
    padding: 20px;
    color: white;
    text-decoration: #31bdb6;
}
.nav-bar ul li a:hover{
        padding: 20px;
        color: rgb(10, 10, 10);
        text-decoration: none;
}
.banner{
    display: 100px;
    justify-content: center;
    align-items: center;
}

.banner img{
    width: 100%;
}


.cursos{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.cursos .cards{
    background-color: white;
    background-size: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 100px 0;
    margin: 0;
}
.cursos .card{
    width: 300px;
    padding: 0px 50px;
    text-align: center;
    margin: 0;
}


.cursos .cards img{
    height: 80px;
    margin-bottom: 30px;
}

body{
    background-color: #31bdb6;
}

.rodape {
    padding: 20px 0;
  /* margin: 10px 0 5px 0; */
    margin-top: 10px;
    background-color: #CCC;
    text-align: center;
}

